In [1]:
'''
Q.[1] : Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a 

        file named test.txt.

'''

test1 = 'This is a test of the emergency text system,'
file = open('test.txt','w')
file.write(test1)

44

In [2]:
# Q.[2] : Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

file = open('test.txt','r')
test2 = file.readline()
test2

'This is a test of the emergency text system,'

In [3]:
'''
Q.[3] : Create a CSV file called books.csv by using these lines:

        title,author,year
        
        The Weirdstone of Brisingamen,Alan Garner,1960
        
        Perdido Street Station,China Miéville,2000
        
        Thud!,Terry Pratchett,2005
        
        The Spellman Files,Lisa Lutz,2007
        
        Small Gods,Terry Pratchett,1992

'''

text='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv', 'wt') as outfile:
    outfile.write(text)

In [4]:
'''
Q.[4] : Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields:

        title (text), author (text), and year (integer).

'''

import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()

cursor.execute('create table books(title varchar(20),author varchar(20), year int(20))')
conn.commit()

In [6]:
# Q.[5] : Read books.csv and insert its data into the book table.

import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

5

In [7]:
# Q.[6] : Select and print the title column from the book table in alphabetical order.

cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

In [9]:
# Q.[7] : From the book table, select and print all columns in the order of publication.

cursor.execute('select title, author,year from books order by year')

df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

In [10]:
# Q.[8] : Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [13]:
'''
Q.[9] : Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash

        called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

'''
!pip install redis

Requirement already satisfied: redis in c:\users\dattatri  kore\anaconda3\lib\site-packages (4.5.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\dattatri  kore\anaconda3\lib\site-packages (from redis) (4.0.2)

Q.[10] : Increment the count field of test and print it.
    
Ans:- conn.hincrby('test', 'count', 3) 4 conn.hget('test', 'count') b'4'